/*
*
*@font-size 字体大小
*/
.fz-12 {
	font-size: 12px;
}

.fz-14 {
	font-size: 14px;
}

.fz-16 {
	font-size: 16px;
}

.fz-18 {
	font-size: 18px;
}

.fz-26 {
	font-size: 26px;
}

/*
*
*@margin 外间距
*@padding 内间距
*/
.ml-8 {
	margin-left: 8px;
}

.ml-12 {
	margin-left: 12px;
}

.mr-8 {
	margin-right: 8px;
}

.mr-12 {
	margin-right: 12px;
}

.mt-12 {
	margin-top: 12px;
}

.mt-16 {
	margin-top: 16px;
}

.mt-24 {
	margin-top: 24px;
}

.mb-8 {
	margin-bottom: 8px;
}

.mb-12 {
	margin-bottom: 12px;
}

.mb-16 {
	margin-bottom: 16px;
}

.pd-12 {
	padding: 12px;
	box-sizing: border-box;
}

.pd-16 {
	padding: 16px;
	box-sizing: border-box;
}

.pl-8 {
	padding-left: 8px;
}

.pl-12 {
	padding-left: 12px;
}

.pr-8 {
	padding-right: 8px;
}

.pr-12 {
	padding-right: 12px;
}

.pt-12 {
	padding-top: 12px;
}

.pt-16 {
	padding-top: 16px;
}

.pt-42 {
	padding-top: 42px;
}

.pb-12 {
	padding-bottom: 12px;
}

.pb-16 {
	padding-bottom: 16px;
}

.pb-18 {
	padding-bottom: 18px;
}

.pb-20 {
	padding-bottom: 20px;
}

/*
*
*@flex 常用布局
*/

/* 水平居中 */
.flex-h {
	display: flex;
	align-items: center;
	flex-direction: column;
}

/* 垂直居中 */
.flex-v {
	display: flex;
	align-items: center;
}

/* 水平垂直居中 */
.flex-hv {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* 禁止换行 */
.nowrap {
	white-space: nowrap;
}

/* 文字加粗 */
.bold {
	font-weight: bold;
}